body {
    padding-top: 55px;
}
.fixed-top {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1030;
}
.container-fluid {
  display: flex ;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: flex-start;
  gap: 10px;
}
.navbar-nav {
    flex-direction: row;
    overflow-x: auto;
    white-space: nowrap;
    display: flex;
    list-style: none;
}
.me-auto {
    margin-right: auto!important;
}
.navbar-collapse {
  flex-basis: 100%;
  display: flex;
  flex-wrap: 1;
  align-items: center;
  width: auto;
  flex: 1;
}
