@font-face {
    font-family: angelinaFont;
    src: url("../fonts/angelina.ttf") format("TrueType");
}

@font-face {
    font-family: jinkaiFont;
    src: url("../fonts/jinkai.woff2") format("TrueType");
}
